appdirs==1.4.4
certifi==2023.7.22
charset-normalizer==3.2.0
homoglyphs==2.0.4
idna==3.4
imageio==2.31.3
importlib-metadata==6.8.0
lazy_loader==0.3
networkx==3.1
numpy==1.25.2
packaging==23.1
Pillow==10.0.0
pyee==8.2.2
pyppeteer==1.0.2
python-nmap==0.7.1
PyWavelets==1.4.1
requests==2.31.0
scikit-image==0.21.0
scipy==1.11.2
tifffile==2023.8.30
tqdm==4.66.1
urllib3==2.0.6
validators==0.22.0
websockets==10.4
whois==0.9.27
zipp==3.16.2
